body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $bg-body;

    font-family: $font-primary;
    color: $color;
    font-size: $fs;
}

a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}


ul {
    li {
        position: relative;

        &:not([class]) {
            &:before {
                content: "";
                position: absolute;
                width: 12px;
                height: 12px;
                background-color: $primary-color;
                border-radius: 3px;
                left: -18px;
                top: 7px;
                transform: rotate(45deg);
            }
        }

    }
}

.container {
    max-width: 1140px + 12px + 12px;
}

.dropdown-menu {
    >li {
        &::before {
            display: none;
        }
    }
}

.btn {
    font-size: 15px;
    line-height: 156%;
    border-radius: 90px;
    font-weight: 600;
    padding: 12px 50px;

    &.btn-primary {
        background-color: $primary-color;
        border: 1px solid $primary-color;

        &:hover {
            background-color: transparent;
            border: 1px solid $primary-color;
        }
    }
}


.btn {
    font-size: 15px;
    line-height: 146%;
    border-radius: 90px;
    font-weight: 600;
    padding: 13px 26px;
    border: 1px solid $primary-color;

    &:hover {
        text-decoration: none;
        border: 1px solid $primary-color;
    }


    &.btn-primary {
        background-color: $primary-color;

        &:hover {
            background-color: transparent;

        }
    }

    &.btn-secondary {
        background-color: transparent;

        &:hover {
            background-color: $primary-color;
        }
    }

    &.btn-primary,
    &.btn-secondary {
        &:active {
            background-color: $secondary-color;
            border-color: $secondary-color;
        }
    }

    &.btn-lg {
        padding: 20px 24px;
        font-size: 16px;
    }

    img {
        margin-left: 46px;
        height: 27px;
        width: 27px;
    }
}




.container-xxl {
    max-width: 1820px;
    width: 100%;

}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border: 2px solid #fff;
    opacity: 1;
    background-color: transparent;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 13px;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    line-height: 0;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 43px;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
}


.template-title {
    text-align: center;
    position: relative;
    padding-bottom: 48px;

    &:before {
        content: "";
        position: absolute;
        bottom: 33px;
        left: 50%;
        transform: translate(-50%, 0);
        height: 2px;
        width: 85px;
        background: $secondary-color;
    }

    h2 {
        font-size: 36px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 125%;
        margin-bottom: 6px;
    }

    h4 {
        font-weight: 400;
    }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

[type='number'] {
    -moz-appearance: textfield;
}

[type="checkbox"],
[type="file"] {
    display: none;
}

input {
    &[type="checkbox"] {
        +label {
            padding-left: 33px;
            line-height: 126%;
            cursor: pointer;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 24px;
                height: 24px;
                border-radius: 4px;
                border: 1px solid $bg-body;
                background-color: #fff;
            }

            &:hover {
                &::before {
                    border-color: $secondary-color;
                }
            }

            &:focus,
            &:active {
                &::before {
                    border-color: $primary-color;
                }
            }
        }

        &:checked {
            +label {
                &:before {
                    background: url('assets/img/icon-checked.svg') center no-repeat #fff;
                }
            }
        }
    }
}




input[type="file"]+label {
    cursor: pointer;
    text-align: center;
    padding: 12px;
    margin-top: 46px;
    border-radius: 10px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23ffffff42' stroke-width='1' stroke-dasharray='3%2c 3' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    background-position: center;
    background-size: calc(100% - 1px);
    cursor: pointer;

    &:hover {
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%2389C249' stroke-width='1' stroke-dasharray='3%2c 3' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    }

    &:active {
        color: $secondary-color;
    }
}

section {
    padding: $section-padding;
}

.bg-section {
    position: relative;
    padding-left: 88px;
    padding-right: 88px;

    &::before {
        content: "";
        display: flex;
        width: calc(100% - 100px);
        max-width: 1820px;
        height: 100%;
        background-color: $bg-section;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        top: 0;
        z-index: -1;
        border-radius: 20px;
    }
}
