body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $bg-body;

    font-family: $font-primary;
    color: $color;
    font-size: $fs;
}

a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}


ul {
    li {
        position: relative;

        &:not([class]) {
            &:before {
                content: "";
                position: absolute;
                width: 12px;
                height: 12px;
                background-color: $primary-color;
                border-radius: 3px;
                left: -18px;
                top: 7px;
                transform: rotate(45deg);
            }
        }

    }
}

.container {
    max-width: 1140px + 12px + 12px;
}

.dropdown-menu {
    >li {
        &::before {
            display: none;
        }
    }
}

.btn {
    font-size: 15px;
    line-height: 156%;
    border-radius: 90px;
    font-weight: 600;
    padding: 12px 50px;

    &.btn-primary {
        background-color: $primary-color;
        border: 1px solid $primary-color;

        &:hover {
            background-color: transparent;
            border: 1px solid $primary-color;
        }
    }
}


.btn {
    font-size: 15px;
    line-height: 146%;
    border-radius: 90px;
    font-weight: 600;
    padding: 13px 26px;
    border: 1px solid $primary-color;

    &:hover {
        text-decoration: none;
        border: 1px solid $primary-color;
    }


    &.btn-primary {
        background-color: $primary-color;

        &:hover {
            background-color: transparent;

        }
    }

    &.btn-secondary {
        background-color: transparent;

        &:hover {
            background-color: $primary-color;
        }
    }

    &.btn-primary,
    &.btn-secondary {
        &:active {
            background-color: $secondary-color;
            border-color: $secondary-color;
        }
    }

    &.btn-lg {
        padding: 19px 24px;
        font-size: 16px;
    }

    img {
        margin-left: 46px;
        height: 27px;
        width: 27px;
    }
}




.container-xxl {
    max-width: 1820px;
    width: 100%;

}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border: 2px solid #fff;
    opacity: 1;
    background-color: transparent;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 13px;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    line-height: 0;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 43px;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
}


.template-title {
    text-align: center;
    position: relative;
    padding-bottom: 48px;

    &:before {
        content: "";
        position: absolute;
        bottom: 33px;
        left: 50%;
        transform: translate(-50%, 0);
        height: 2px;
        width: 85px;
        background: $secondary-color;
    }

    h2 {
        font-size: 36px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 125%;
        margin-bottom: 6px;
    }

    h4 {
        font-weight: 400;
    }

    &.case-2 {
        text-align: left;

        &:before {
            left: 0;
            transform: none;
        }
    }

    &.case-3 {
        max-width: 626px;
        text-align: left;
        &:before {
            display: none;
        }
        h2 {
            &::after {
                content: "";
                background-color: $secondary-color;
                width: 85px;
                height: 2px;
                display: inline-block;
                margin: 0 20px 10px;
            }
        }
    }
}
