<section class="advantages bg-section">
    <div class="container">
        <div class="template-title">
            <h2>Почему стоит выбрать именно нас?</h2>
        </div>
        <!-- <div class="row">
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-1.svg" alt="advantages">
                    </div>
                    <h5 class="advantage-title">Таможенное оформление груза</h5>
                </div>
            </div>
            <div class="col-lg-3">
                    <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-2.svg" alt="advantages">
                    </div>
                    <h5 class="advantage-title">Страховка груза</h5>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-1.svg" alt="advantages">
                    </div>
                     
                    <h5 class="advantage-title">Упаковка, переупаковка, паллетирование груза к международной перевозке</h5>
                </div>
            </div>
            <div class="col-lg-3">
                    <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-2.svg" alt="advantages">
                    </div>
                    <h5 class="advantage-title">Страховка груза</h5>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-1.svg" alt="advantages">
                    </div>
                    <h5 class="advantage-title">Таможенное оформление груза</h5>
                </div>
            </div>
            <div class="col-lg-3">
                    <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-2.svg" alt="advantages">
                    </div>
                    <h5 class="advantage-title">Страховка груза</h5>
                </div>
            </div>
             <div class="col-lg-3">
                    <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-2.svg" alt="advantages">
                    </div>
                    <h5 class="advantage-title">Страховка груза</h5>
                </div>
            </div>
            <div class="col-lg-3">
                    <div class="advantage">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-3.svg" alt="advantages">
                    </div>
                    <div class="advantage-title">Упаковка, переупаковка, паллетирование груза к международной перевозке</div>
                </div>
            </div>
        </div> -->

  

        <div id="advantages" class="swiper">
         
            <div class="swiper-wrapper">
              <div class="advantage swiper-slide">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-1.svg" alt="advantages">
                    </div>
                    <h5 class="advantage-title">Таможенное оформление груза</h5>
              </div>
              <div class="advantage swiper-slide">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-2.svg" alt="advantages">
                    </div>
                    <h5 class="advantage-title">Таможенное оформление груза</h5>
              </div>
              <div class="advantage swiper-slide">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-3.svg" alt="advantages">
                    </div>
                    <h5 class="advantage-title">Таможенное оформление груза</h5>
              </div>
              <div class="advantage swiper-slide">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-1.svg" alt="advantages">
                    </div>
                    <h5 class="advantage-title">Таможенное оформление груза</h5>
              </div>
              <div class="advantage swiper-slide">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-2.svg" alt="advantages">
                    </div>
                    <h5 class="advantage-title">Консолидация на складе</h5>
              </div>
              <div class="advantage swiper-slide">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-1.svg" alt="advantages">
                    </div>
                    <h5 class="advantage-title">Таможенное оформление груза</h5>
              </div>
              <div class="advantage swiper-slide">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-1.svg" alt="advantages">
                    </div>
                    <h5 class="advantage-title">Таможенное оформление груза</h5>
              </div>
              <div class="advantage swiper-slide">
                    <div class="advantage-img">
                        <img src="assets/img/advantages-1.svg" alt="advantages">
                    </div>
                    <h5 class="advantage-title">Таможенное оформление груза</h5>
              </div>
            </div>
          
            <div class="swiper-pagination"></div>
          
        
            <!-- <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div> -->
        
          </div>
     </div>
</section>
 

<section>
    <div class="container">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores necessitatibus quae iusto id veniam obcaecati velit voluptas dolorum assumenda doloremque earum, explicabo sunt dolorem accusamus qui, ut provident magni laborum. Ratione cum, suscipit soluta doloremque ea natus amet maxime temporibus ullam, nemo dolorem, itaque quis. Sequi perferendis inventore tempore! Maxime, accusantium ipsa architecto odio quaerat perspiciatis dignissimos omnis incidunt tenetur totam minus cupiditate dolore voluptates alias vel exercitationem eius consequatur. Dolor reprehenderit corrupti minus distinctio molestias quibusdam natus necessitatibus consectetur quas enim cum saepe voluptatum magnam omnis soluta numquam tempore unde ducimus, assumenda reiciendis sit dignissimos beatae cupiditate blanditiis. Aperiam?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores necessitatibus quae iusto id veniam obcaecati velit voluptas dolorum assumenda doloremque earum, explicabo sunt dolorem accusamus qui, ut provident magni laborum. Ratione cum, suscipit soluta doloremque ea natus amet maxime temporibus ullam, nemo dolorem, itaque quis. Sequi perferendis inventore tempore! Maxime, accusantium ipsa architecto odio quaerat perspiciatis dignissimos omnis incidunt tenetur totam minus cupiditate dolore voluptates alias vel exercitationem eius consequatur. Dolor reprehenderit corrupti minus distinctio molestias quibusdam natus necessitatibus consectetur quas enim cum saepe voluptatum magnam omnis soluta numquam tempore unde ducimus, assumenda reiciendis sit dignissimos beatae cupiditate blanditiis. Aperiam?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores necessitatibus quae iusto id veniam obcaecati velit voluptas dolorum assumenda doloremque earum, explicabo sunt dolorem accusamus qui, ut provident magni laborum. Ratione cum, suscipit soluta doloremque ea natus amet maxime temporibus ullam, nemo dolorem, itaque quis. Sequi perferendis inventore tempore! Maxime, accusantium ipsa architecto odio quaerat perspiciatis dignissimos omnis incidunt tenetur totam minus cupiditate dolore voluptates alias vel exercitationem eius consequatur. Dolor reprehenderit corrupti minus distinctio molestias quibusdam natus necessitatibus consectetur quas enim cum saepe voluptatum magnam omnis soluta numquam tempore unde ducimus, assumenda reiciendis sit dignissimos beatae cupiditate blanditiis. Aperiam?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores necessitatibus quae iusto id veniam obcaecati velit voluptas dolorum assumenda doloremque earum, explicabo sunt dolorem accusamus qui, ut provident magni laborum. Ratione cum, suscipit soluta doloremque ea natus amet maxime temporibus ullam, nemo dolorem, itaque quis. Sequi perferendis inventore tempore! Maxime, accusantium ipsa architecto odio quaerat perspiciatis dignissimos omnis incidunt tenetur totam minus cupiditate dolore voluptates alias vel exercitationem eius consequatur. Dolor reprehenderit corrupti minus distinctio molestias quibusdam natus necessitatibus consectetur quas enim cum saepe voluptatum magnam omnis soluta numquam tempore unde ducimus, assumenda reiciendis sit dignissimos beatae cupiditate blanditiis. Aperiam?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores necessitatibus quae iusto id veniam obcaecati velit voluptas dolorum assumenda doloremque earum, explicabo sunt dolorem accusamus qui, ut provident magni laborum. Ratione cum, suscipit soluta doloremque ea natus amet maxime temporibus ullam, nemo dolorem, itaque quis. Sequi perferendis inventore tempore! Maxime, accusantium ipsa architecto odio quaerat perspiciatis dignissimos omnis incidunt tenetur totam minus cupiditate dolore voluptates alias vel exercitationem eius consequatur. Dolor reprehenderit corrupti minus distinctio molestias quibusdam natus necessitatibus consectetur quas enim cum saepe voluptatum magnam omnis soluta numquam tempore unde ducimus, assumenda reiciendis sit dignissimos beatae cupiditate blanditiis. Aperiam?</p>
    </div>
</section>